@media screen and (min-width: 1280px)

  $gutter = 48px

  $margin-micro = ($gutter / 3)
  $margin-tiny = ($gutter / 2)
  $margin-small = ($gutter)
  $margin-basic = ($gutter * 1)
  $margin-mid = ($gutter * 2)
  $margin-large = ($gutter * 3)

  grid-maker(96%, $gutter, l)

  space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

  body.page-home
    &.hover
      #home-text-holder
        .home-hover
          font-size: 72px

  .archive-exhibition-item
    filter: saturate(0)
    transition: filter .5s
    &:hover
      filter: saturate(1)
