@media screen and (min-width: 1280px)

  $gutter = 32px

  $margin-micro = ($gutter / 3)
  $margin-tiny = ($gutter / 2)
  $margin-small = ($gutter)
  $margin-basic = ($gutter * 2)
  $margin-mid = ($gutter * 3.5)
  $margin-large = ($gutter * 5)

  grid-maker(96%, $gutter, l)

  space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

  $header-height = 142px

  #home-text-holder,
  #home-image-holder
    top: $header-height
    height: calc('100vh - ' + ($header-height * 2))

  #home-text-holder
    a
      &:hover
        font-size: 90px
