$gutter = 21px

$margin-micro = ($gutter / 3)
$margin-tiny = ($gutter / 2)
$margin-small = ($gutter)
$margin-basic = ($gutter * 1)
$margin-mid = ($gutter * 2)
$margin-large = ($gutter * 3)

$font-size-basic = 10px
$font-size-extra = 10px
$font-size-large = 10px
$font-size-mid = 10px
$font-size-small = 10px
$font-size-tiny = 10px

grid-maker(96%, $gutter, s)

space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

font-sizes($font-size-basic, $font-size-extra, $font-size-large, $font-size-mid, $font-size-small, $font-size-tiny)

.menu-main-container
  display: inline-block
  li
    margin-right: $margin-tiny
    display: block
    &.current-menu-item
      text-decoration: underline
    &.menu-item-home
      display: block
      &.current-menu-item
        text-decoration: none

.language-chooser,
#mailchimp-form
  display: block

.language-chooser
  margin-right: $margin-tiny
  li
    display: inline-block
    &.active
      text-decoration: underline

button[type="submit"]
  visibility: hidden
  pointer-events: none
  width: 0
  transition: width 200ms
  padding: 0
  appearance: none
  border: none
  display: none
  background: transparent
  font-family: $font-sans
  &:focus,
  &:active
    outline: none

input
  padding: 0
  border: 0
  transition: width 200ms
  cursor: pointer
  appearance: none
  background: transparent
  font-family: $font-sans
  &.input-en
    width: 47px
  &.input-es
    width: 50px
  &:focus
    outline: none
  &::placeholder
    color: $color-black
    font-family: $font-sans

#mailchimp-form.active
  input
    width: 125px
    outline: none
    border-bottom: 1px solid $color-black
    cursor: text
    &::placeholder
      color: transparent
  button[type="submit"]
    visibility: visible
    pointer-events: auto
    width: 50px
    display: inline-block

#home-text-holder,
#home-image-holder
  position: absolute
  z-index: 1
  top: 0
  left: 0
  right: 0
  margin-left: auto
  margin-right: auto
  height: 100vh
  pointer-events: none
  .home-hover
    pointer-events: auto

#home-text-holder
  .home-hover
    display: inline-block
    overflow: visible
    will-change: transform
    white-space: nowrap
    transform-origin: center left
    transition: font-size .5s
    backface-visibility: hidden
    p
      margin-bottom: 0

#home-image-holder
  z-index: 0
  .home-hover
    display: block
    font-size: 0
  img
    filter: saturate(0)
    max-width: 80vw
    max-height: 80vh
    width: auto
    height: auto

#home-image-overlay
  mix-blend-mode: screen
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  opacity: 0
  transition: opacity .5s

.home-hover
  position: relative

body.page-home
  &.hover
    #home-text-holder
      .home-hover
        font-size: 32px
    #home-image-overlay
      opacity: 1

#single-header,
#single-content,
#page-content
  max-width: 400px

#mailchimp-response
  flex-basis: 100%
  &.error
    color: red

#map-holder
  filter: saturate(0)

iframe
  max-width: 100%

.qtranxs-available-languages-message
  display: none

.documentation-next
  img
    cursor: s-resize

.documentation-top
  img
    cursor: n-resize

#artist-image
  position: fixed
  top: 0
  left: 0
  width: 100vw
  height: 100vh
