@media screen and (min-width: 1024px)

  $gutter = 28px

  $margin-micro = ($gutter / 3)
  $margin-tiny = ($gutter / 2)
  $margin-small = ($gutter)
  $margin-basic = ($gutter * 2)
  $margin-mid = ($gutter * 3.5)
  $margin-large = ($gutter * 5)

  grid-maker(96%, $gutter, l)

  space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

  .desktop-only
    display: initial !important

  .menu-main-container,
  .language-chooser
    display: inline-block
    font-size: 0
    li
      display: inline-block
      margin-right: $margin-tiny
      font-size: $font-size-small

  #mailchimp-form
    display: inline-block
    margin-right: $margin-tiny
    font-size: $font-size-small

  #home-text-holder,
  #home-image-holder
    img
      max-width: 600px
      max-height: 600px

  body.page-home
    &.hover
      #home-text-holder
        .home-hover
          font-size: 60px

  .documentation-item
    img
      max-height: 90vh
      width: auto
      height: auto
