@media screen and (min-width: 720px)

  $gutter = 36px

  $margin-micro = ($gutter / 3)
  $margin-tiny = ($gutter / 2)
  $margin-small = ($gutter)
  $margin-basic = ($gutter * 1)
  $margin-mid = ($gutter * 2)
  $margin-large = ($gutter * 3)

  space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

  grid-maker(96%, $gutter, m)

  .mobile-only
    display: none !important

  #header
    position: fixed
    width: 100%
    top: 0
    left: 0
    z-index: 800

  .menu-main-container,
  .language-chooser
    display: inline-block
    font-size: 0
    li
      display: inline-block
      margin-right: $margin-tiny
      font-size: $font-size-basic
      &.menu-item-home
        display: inline-block

  #mailchimp-form
    display: inline-block
    margin-right: $margin-tiny
    font-size: $font-size-basic

  #home-text-holder,
  #home-image-holder
    img
      max-width: 400px
      max-height: 400px

  body.page-home
    &.hover
      #home-text-holder
        .home-hover
          font-size: 42px

  #mailchimp-response
    flex-basis: auto

  .artist-image
    background-size: 500px
